{% extends "base.html" %}
{% block title %}
  {{ post.title_tag }}
{% endblock %}


{% block content %}
  <h1>{{ post.title }}
  </h1>
  <small>By: {{ post.author.first_name }} {{ post.author.last_name }} | Published: {{ post.post_date }} </small>
  <hr>
  <p>{{ post.body }}</p>
  <br/><br/>
  <a class="btn btn-primary" href="{% url 'home' %}">Back to home</a> <a class="btn btn-primary" href="{% url 'update_post' post.pk %}">Edit</a> <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
  
{% endblock %}
